body {
    background-color: rgb(196, 197, 197);
    font-family: "Verdana", Times, serif;
  }
  h1 {
    color: rgb(0, 0, 0);
    font-family: "Verdana", Times, serif;
    text-align: center;
    text-decoration: underline;
  }
  p {
    color: rgb(43, 43, 43);
    font-family: "Verdana", Times, serif;
  }
  a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-family: "Verdana", Times, serif;
    background-color: gray
  }
  table{
    width: 80%;
  }
  td {
      padding: 15px solid black;
    border-collapse: collapse;
    height: 100px
    
    }
  th {
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: rgb(68, 55, 55);
       color: white;
      border-collapse: collapse;
      height: 100x
      }
  td,th {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center
        
      }          
  tr:nth-child(even){background-color: #f2f2f2;}
  tr:hover {background-color: #ddd;}
  a.mybutton {
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    font-family: Arial,sans-serif;
    font-size: medium; 
    color: white;
    text-decoration: none;
    font-weight: bold;
    background: grey;
   }
   a.mybutton:hover { background: grey red; color: black; }

 #oui{
   background-color: rgb(85, 85, 85);
 }