body {
    background-color: rgb(196, 197, 197);
    font-family: "Verdana", Times, serif;
  }
  h1 {
    color: rgb(0, 0, 0);
    font-family: "Verdana", Times, serif;
    text-align: center;
    text-decoration: underline;
  }
  p {
    color: rgb(43, 43, 43);
    font-family: "Verdana", Times, serif;
  }
  a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-family: "Verdana", Times, serif;
    background-color: gray
  }


  a.mybutton {
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    font-family: Arial,sans-serif;
    font-size: medium; 
    color: white;
    text-decoration: none;
    font-weight: bold;
    background: blue;
   }
  
   a.mybutton:hover { background: red; color: black; }